<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net451" requireReinstallation="True" />
  <package id="Accord.Controls.Imaging" version="3.8.0" targetFramework="net451" requireReinstallation="True" />
  <package id="Accord.Imaging" version="3.8.0" targetFramework="net451" requireReinstallation="True" />
  <package id="Accord.Math" version="3.8.0" targetFramework="net451" requireReinstallation="True" />
  <package id="Accord.Statistics" version="3.8.0" targetFramework="net451" requireReinstallation="True" />
  <package id="Accord.Video" version="3.8.0" targetFramework="net451" requireReinstallation="True" />
  <package id="asprise-ocr-api" version="15.3.1.0" targetFramework="net452" />
  <package id="asprise-ocr-dll-bundle-32" version="15.3.1.0" targetFramework="net452" />
  <package id="asprise-ocr-dll-bundle-64" version="15.3.1.0" targetFramework="net452" />
  <package id="CircularProgressBar" version="2.5.6403.13419" targetFramework="net45" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="EPFramework" version="1.1.1" targetFramework="net451" />
  <package id="EPPlus" version="4.5.3.1" targetFramework="net461" />
  <package id="HtmlRenderer.Core" version="1.5.0.5" targetFramework="net451" />
  <package id="HtmlRenderer.WinForms" version="1.5.0.6" targetFramework="net451" />
  <package id="iTextSharp" version="5.5.13" targetFramework="net46" />
  <package id="JWLibrary.Winform" version="0.1.0" targetFramework="net451" />
  <package id="MetroFramework" version="1.2.0.3" targetFramework="net45" />
  <package id="MetroFramework.Design" version="1.2.0.3" targetFramework="net45" />
  <package id="MetroFramework.Fonts" version="1.2.0.3" targetFramework="net45" />
  <package id="MetroFramework.RunTime" version="1.2.0.3" targetFramework="net45" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net45" />
  <package id="NetDimension.WinForm.ModernUI" version="1.0.1" targetFramework="net461" />
  <package id="Syncfusion.Compression.Base" version="17.1.0.53" targetFramework="net461" />
  <package id="Syncfusion.Edit.Windows" version="16.2.0.50" targetFramework="net451" />
  <package id="Syncfusion.Grid.Base" version="16.2.0.50" targetFramework="net451" />
  <package id="Syncfusion.Grid.Windows" version="16.2.0.50" targetFramework="net451" />
  <package id="Syncfusion.Licensing" version="17.1.0.53" targetFramework="net461" />
  <package id="Syncfusion.Pdf.WinForms" version="17.1.0.53" targetFramework="net461" />
  <package id="Syncfusion.Shared.Base" version="16.2.0.50" targetFramework="net451" />
  <package id="Syncfusion.Shared.Windows" version="16.2.0.50" targetFramework="net451" />
  <package id="Syncfusion.SpellChecker.Base" version="16.2.0.50" targetFramework="net451" />
  <package id="Syncfusion.Tools.Base" version="16.2.0.50" targetFramework="net451" />
  <package id="Syncfusion.Tools.Windows" version="16.2.0.50" targetFramework="net451" />
  <package id="TallComponents.PDFControls.WinForms" version="3.0.31" targetFramework="net451" />
  <package id="WinFormAnimation" version="1.5.6298.3372" targetFramework="net45" />
</packages>